<div id="mapbox-map-container" style="height: 300px; width: 100%; border: 1px solid #ccc; display: flex; justify-content: center; align-items: center; background-color: #f0f0f0;">
  <p>Map will be displayed here.</p>
</div>